h1 {
    font-family: Reggae One, Arial, sans-serif;
    color: palevioletred;
    font-size: 45px;
  }
  
  body {
    font-family: Raleway, Arial, sans-serif;
    color: black;
    font-size: 18px;
  }
  
  h3 {
    font-family: Marcellus, Arial, sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
  }